<section class="banner-clique-solidario row-fluid">
    <div class="container">
        <div class="col-lg-8">
            <header>
                <h2><span>Assista o conteúdo ao vivo  de onde você estiver.</span><br>
                    Tenha os filmes em alta qualidade em sua casa.</h2>
            </header>
        </div>
        <div class="row-fluid">
            <div class="col-lg-6">
                <p>Nullam molestie enim leo. Aenean rhoncus sem metus, eu lobortis tellus tristique ac. Donec auctor
                    nulla non turpis feugiat aliquam. Quisque nec ultrices ipsum. Maecenas dapibus risus sem. Quisque in
                    suscipit nulla, non varius nisl.</p>
            </div>
        </div>
    </div>
</section>
