body, h1, h2, h3, h4, h5, h6, p, a {
	font-family: Roboto, sans-serif;
}

.no-border {
    border: none !important;
}

.no-padding {
    padding: 0 !important;
}

.border-right-3 {
    border-right: 3px solid #FFFFFF;
}

.padding-direita {
    padding: 0 30px 0 0 !important;
}

.verde {
    color: #556C0D !important;
}

.laranja {
    color: #B0592D !important;
}

.azul {
    color: #13718B !important;
}

.alinha-titulo {
    margin-left: 15px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-bottom {
    margin-bottom: 20px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

ul.bg-cinza li {
    background: #EEEEEE;
}

ul.bg-cinza li:hover {
    background: #183350 ;
}

.fullsize-images {
    max-height: 500px;
    min-width: 100%;
}

.exibir-texto {
    height: auto !important;
    overflow: visible !important;  
}
/* NAV BAR DO TOPO */

.topo {
    background: none repeat scroll 0 0 #183350 ;
    border: none;
    border-radius: 0; 
    height: 119px;
    margin: 0 !important;
}

.custom-btn-1 {
    background: none repeat scroll 0 0 #D9A300;
    border: medium none;
    color: #183350;
    font-family: lato,sans-serif;
    height: 38px;
    line-height: 1.7em;
    margin: 25px 0 10px;
    width: 127px;
}

.custom-btn-1:hover, .custom-btn-1:focus, .custom-btn-1:active {
    background: none repeat scroll 0 0 #D9A300;
    color: #183350;
}

body > header {
    margin: -5px 0 0;
}

.fb-share {
    display: block;
    margin: 0 0 10px;
    text-align: right;
    width: 100%;
}

a.custom-btn-9 {
    background: none repeat scroll 0 0 #7E211F;
    border: medium none;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    float: left;
    height: 38px;
    margin: 10px 10px 0 0;
    padding: 9px 0 0;
    width: 75px;
}

a.custom-btn-9:hover, a.custom-btn-2:focus, a.custom-btn-2.active {
    background: #A22C28;
    color: #FFFFFF;
}

span.nome {
    color: #FFFFFF;
    float: left;
    font-size: 1.143em;
    margin: 20px 10px 0 0;
    width: 100%;
}

.nav-default {
    margin: 30px 0 0;
}

.nav-default a {
    color: #FFFFFF;
}

.nav-default a:hover, .nav-default a:focus {
    background: none !important;
    text-decoration: underline !important;
}

.logo-tolerancia {
    margin: 10px 0 0;
}

/* SECTION DEFINIÇÕES */

section.definicoes {
    padding: 70px 0 40px;
}

section.definicoes h2 {
    border-bottom: 1px solid #DDDDDD;
    color: #525252;
    display: block;
    font-size: 2.143em;
    font-weight: 300;
    line-height: 100%;
    margin: 20px 0 10px;
    padding: 0 0 5px;
}

section.definicoes img.preview {
    margin: 0 0 10px;
}

section.definicoes blockquote p em {
    color: #183350;
    font-size: 0.857em;
    font-weight: 300;
    line-height: 200%;
}

section.definicoes img.separador {
    margin: 10px 0 0;
}

section.definicoes span.um {
    font-size: 2.143em;
}

section.definicoes span.dois {
    font-size: 2.857em;
}

section.definicoes span.tres {
    font-size: 2.500em;
}

section.definicoes a {
    color: #183350 ;
    font-size: 12px;
}

section.definicoes blockquote p img.sub {
    vertical-align: sub;
}

section.definicoes blockquote p img.text-top {
    vertical-align: text-top;
}

section.definicoes article > p {
    color: #535353;
    line-height: 160%;
    text-align: justify;
}

/* SECTION CATEGORIAS */

section.categorias {
    height: 43px;
    width: 100%;
}

section.categorias p {
    font-size: 2.143em;
    font-weight: 300;
    line-height: 140%;
    text-align: center;
}

section.categorias .nav > li > a {
    color: #444444;
    font-size: 1.125em;
    font-weight: 300;
}

section.categorias .nav > li > a:hover, section.categorias .nav > li > a:focus {
    background: #183350 ;
    color: #FFFFFF;
    text-decoration: none;
}

/* SECTION ULTIMOS VIDEOS */

.destaque {
    /*background: url("../imagens/bg-ultimos-videos.jpg") repeat scroll center center #F5F5F5;
    box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.3) inset;
    padding: 40px 0 60px;*/
    background: none repeat scroll 0 0 #f5f5f5;
    padding: 0 0 60px;
    width: 100%;
}

section.ultimos-videos h2,
section.ultimos-videos h2 a {
    color: #525252;
    font-weight: 300;
    line-height: 120%;
    margin: 20px 0 40px;
}

section.ultimos-videos{
    padding:0 !important;
}

section.ultimos-videos .row-fluid {
    margin: 0 0 50px;
}

section.ultimos-videos figure {
    position: relative;
}

section.ultimos-videos figure span {
    bottom: -4px;
    position: absolute;
    right: -4px;
}

section.ultimos-videos figure a.player {
    left: 50%;
    margin: -33.5px 0 0 -33.5px;
    position: absolute;
    top: 50%;
}

section.ultimos-videos h3 {
    font-size: 1.571em;
    font-weight: 300;
    line-height: 100%;
}

section.ultimos-videos h3 a {
    color: #555555;
}

section.ultimos-videos p {
    color: #555555;
    font-weight: 400;
    line-height: 160%;
    text-align: justify;
}

section.ultimos-videos .ultimos-filmes {
    margin: 0 0 30px;
}

section.ultimos-videos .ultimos-filmes h2 {
    font-size: 1.571em;
    line-height: 100%;
    margin: 0 0 5px;
}

section.ultimos-videos .ultimos-filmes p {
    font-size: 0.929em;
    line-height: 140%;
    margin: 0 0 40px;
}

/* SECTION ASSISTA AULAS */

section.assista-aulas {
    background: url("../imagens/bg-estudante.jpg") no-repeat scroll center center #FFFFFF;
    height: 700px;
    position: relative;
    width: 100%;
}

section.assista-aulas article span {
    color: #183350;
    font-weight: 300;
}

.sobre section.assista-aulas {
    background: url("../imagens/bg-sobre-header.jpg") no-repeat scroll center center #FFFFFF;
    height: 630px;
    position: relative;
    width: 100%;
}

.sobre section.assista-aulas article {
    margin: 90px 0 0;
}

.sobre section.assista-aulas h2 {
    color: #FFFFFF;
    font-size: 4.286em;
    font-weight: 100;
    line-height: 100%;
}

.sobre section.assista-aulas p {
    color: #FFFFFF;
    font-size: 1em;
    line-height: 160%;

}

.sobre section.assista-aulas h2 span {
    color: #FFFFFF;
    font-weight: 300;
}

section.assista-aulas.rodape p {
    font-size: 3.571em;
    font-weight: 100;
    line-height: 100%;
    margin: 190px 0 0;
}

/* SECTION CADASTRO */

section.cadastro {
    background: url("../imagens/bg-preto.jpg") repeat scroll right top #333333;
    box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.3) inset;
    padding: 116px 0 159px;
}

section.cadastro h2 {
    color: #FFFFFF;
    font-size: 2.857em;
    font-weight: 300;
    margin: 0;
    text-align: center;
}

section.cadastro p {
    color: #FFFFFF;
    font-size: 1.286em;
    font-weight: 300;
    line-height: 160%;
    margin: 20px auto 40px;
    text-align: center;
    width: 75%;
}

.facebook-cadastro a, .google-cadastro a, .meu-cadastro a {
    border-radius: 0 5px 5px 0;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    height: 42px;
    line-height: 150%;
    padding: 9px 30px;
}

.facebook-cadastro a {
    background: none repeat scroll 0 0 #5F78AB;
    border: 1px solid #405A91;
    color: #FFFFFF;
}

.google-cadastro a {
    background: #DD4B39;
    border: 1px solid #BC4031;
    color: #FFFFFF;
}

.meu-cadastro a {
    background: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #DADADA;
}

.facebook-cadastro a:hover, .facebook-cadastro a:active, .facebook-cadastro a:focus, .facebook-cadastro a.active {
    background: none repeat scroll 0 0 #51699B !important;
    border: 1px solid #405A91 !important;
    color: #FFFFFF !important;
}

.google-cadastro a:hover, .google-cadastro a:active, .google-cadastro a:focus, .google-cadastro a.active {
    background: none repeat scroll 0 0 #DB3A28 !important;
    border: 1px solid #BC4031 !important;
    color: #FFFFFF !important;
}

/* FOOTER */

footer {
    color: #535353;
    padding: 60px 0 80px;
}

footer a.email {
    color: #535353;
}

/* SECTION TOLERANTE */

.sobre section.tolerante {
    margin: 90px 0 30px;
}

.sobre section.tolerante img.quote-top {
    float: left;
    margin: 0 10px 0 0;
}

.sobre section.tolerante article.quote {
    float: left;
    margin: 40px 0 0;
    width: 60%;
}

.sobre section.tolerante article.quote p {
    color: #183350;
    font-size: 1.429em;
    font-style: italic;
    font-weight: 300;
    line-height: 160%;
    margin: 0;
}

.sobre section.tolerante img.quote-bot {
    float: right;
    margin: -30px 0 0;
}

.sobre section.tolerante h2 {
    font-size: 2.857em;
    font-weight: 300;
    line-height: 100%;
    margin: 0 0 30px;
    padding: 0 0 0 15px;
}

.sobre section.tolerante p {
    font-size: 1em;
    line-height: 160%;
    margin: 0 0 15px;
}

/* SECTION COMO FUNCIONA */

.sobre section.como-functiona h1 {
    color: #535353;
    font-size: 2.857em;
    font-weight: 300;
    line-height: 100%;
    margin: 40px 0 60px;
    padding: 0 0 0 13px;
}

.sobre section.como-functiona figure {
    position: relative;
}

.sobre section.como-functiona figure span {
    bottom: -5px;
    position: absolute;
    right: -5px;
}

.sobre section.como-functiona h2 {
    font-size: 2.143em;
    font-weight: 300;
    margin: 30px 0;
}

.sobre section.como-functiona p {
    color: #525252;
    font-size: 1em;
    line-height: 160%;
    margin: 0 0 25px;
}

/* SECTION BANNER 01 [ESCRITOS] */

.escritos section.banner-01 {
    background: url("../imagens/banner-escritos-01.jpg") no-repeat center center #FFFFFF;
    height: 558px;
    width: 100%;
}

.escritos section.banner-01 article {
    margin: 115px 0 0;
}

.escritos section.banner-01 h2 {
    color: #525252;
    font-size: 4.286em;
    font-weight: 100;
    line-height: 100%;
    margin: 0 0 20px;
}

.escritos section.banner-01 h2 span {
    color: #9D2626;
    font-weight: 300;
}

.escritos section.banner-01 p {
    color: #545454;
    font-size: 1em;
    line-height: 160%;
}

/* SECTION TOPO PAGINA */

section.topo-pagina {
    height: 170px;
    padding: 63px 0 0;
}

section.topo-pagina h1 {
    font-size: 2.143em;
    font-weight: 300;
    line-height: 110%;
    margin: 5px 0 0;
}

section.topo-pagina h1 span {
    font-size: 22px;
}

section.topo-pagina input[type="text"] {
    background: url("../imagens/bg-input.jpg") no-repeat center center transparent;
    border: none;
    color: #545454;
    float: left;
    font-size: 0.857em;
    height: 47px;
    padding: 0 15px;
    width: 265px;
}

section.topo-pagina input[type="submit"] {
    background: url("../imagens/search-button.jpg") no-repeat center center #FFFFFF;
    border: none;
    border-radius: 0 5px 5px 0;
    float: left;
    height: 47px;
    width: 33px;
}

/* SECTION LISTA ESCRITOS */

.escritos section.lista-escritos article {
    margin: 0 0 40px;
}

.escritos section.lista-escritos h2 {
    color: #525252;
    font-size: 2.143em;
    font-weight: 300;
    line-height: 110%;
    margin: 0 0 40px 15px;
}

.escritos section.lista-escritos h2 a, .escritos section.lista-escritos h2 a:visited, .escritos section.lista-escritos h2 a:active{
	color: #525252;
}

.escritos section.lista-escritos header a {
    color: #555555;
}

.escritos section.lista-escritos header h2 {
    font-size: 1.571em;
    font-weight: 300;
    line-height: 100%;
    margin: 15px 0 10px;
}

.escritos section.lista-escritos p {
    color: #545454;
    font-size: 1em;
    font-weight: 400;
    line-height: 160%;
    margin: 0 0 30px;
}

.escritos section.lista-escritos article > a {
    background: none repeat scroll 0 0 #183350 ;
    border: none;
    border-radius: 0;
    box-shadow:  2px 2px 2px 0 rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    display: block;
    font-size: 0.857em;
    height: 36px;
    line-height: 160%;
    width: 83px;
    float: right;
	margin-bottom: 30px;
}

.escritos section.lista-escritos article > a:hover, .escritos section.lista-escritos article > a:active, .escritos section.lista-escritos article > a:focus, .escritos section.lista-escritos article > a.active {
    background: #183350;
}

.pagination.customizada {
    margin: 60px auto;
    width: 342px;
}
.pagination.customizada li {
    float: left;
}

.pagination.customizada .active {
    padding-top: 6px;
}

.pagination.customizada li.img {
    margin: -7px 0 0;
}

.pagination.customizada > li > a, .pagination.customizada > li > span {
    color: #999999;
    background: none;
    border: none;
}

.pagination.customizada > li > a.active, .pagination.customizada > li > a:hover {
    color: #525252;
}

.pagination.customizada .disabled {
    display: none;
}
/* SECTION CLIQUE SOLIDARIO */

section.clique-solidario {
    background: url("../imagens/clique-solidario-banner-2.jpg") no-repeat center center #FFFFFF;
    height: 761px;
    width: 100%;
}

section.clique-solidario header {
    margin: 116px 0 0;
}

section.clique-solidario h2 {
    color: #545454;
    font-size: 4.286em;
    font-weight: 300;
    line-height: 110%;
}

section.clique-solidario h2 span {
    font-weight: 100;
}

section.clique-solidario p {
    font-size: 1em;
    line-height: 160%;
    margin: 20px 0 40px;
}

section.clique-solidario a {
    box-shadow:  2px 2px 2px 0 rgba(0, 0, 0, 0.4);
    background: none repeat scroll 0 0 #183350 ;
    border: medium none;
    color: #FFFFFF;
    height: 39px;
    line-height: 170%;
    width: 127px;
}

section.clique-solidario a:hover, .escritos section.clique-solidario a:active, .escritos section.clique-solidario a:focus, .escritos section.clique-solidario a.active {
    color: #FFFFFF;
    background: #183350;
}

/* SECTION O ESCRITO */

.escritos section.o-escrito article {
    margin: 60px 0;
}

.escritos section.o-escrito figure {
    float: left;
    margin: 0 20px 10px 0;
}

.escritos section.o-escrito h1 {
    color: #525252;
    font-size: 2.143em;
    font-weight: 300;
    line-height: 110%;
    margin: 0 0 3px;
}

.escritos section.o-escrito span {
    display: block;
    font-size: 0.857em;
    font-weight: 300;
    margin: 0 0 20px;
}

.escritos section.o-escrito p {
    color: #535353;
    font-size: 1em;
    line-height: 160%;
}

/* SECTION RAZÕES */

section.razoes h2 {
    color: #525252;
    font-size: 2.143em;
    font-weight: 300;
    line-height: 110%;
    margin: 0;
}

section.razoes p {
    color: #525252;
    font-size: 1em;
    line-height: 160%;
    margin: 0 0 20px;
}

/* SECTION AO VIVO BANNER */

section.ao-vivo-banner {
    background: url("../imagens/ao-vivo-banner.jpg") no-repeat center center #FFFFFF;
    height: 528px;
    width: 100%;
}

section.ao-vivo-banner h1 {
    color: #535353;
    font-size: 4.286em;
    font-weight: 100;
    line-height: 100%;
    margin: 90px 0 0;
}

section.ao-vivo-banner h1 span {
    color: #9D2726;
    font-weight: 300;
}

section.ao-vivo-banner p {
    font-size: 1em;
    line-height: 160%;
    margin: 30px 0 0;
}

/* SECTION LISTAGEM AULAS AO VIVO */
section.aulas-ao-vivo .box {
    margin: 0 0 40px;
}

section.aulas-ao-vivo .box article {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    background: #E8E8E8;
    border: 2px dashed #DEDEDE;
    padding: 30px 30px;
}

section.aulas-ao-vivo span {
    color: #535353;
    font-size: 2.571em;
    font-weight: 100;
    line-height: 110%;
}

section.aulas-ao-vivo h2 {
    color: #545454;
    font-size: 1.286em;
    line-height: 160%;
    margin: 10px 0 5px;
}

section.aulas-ao-vivo p {
    color: #545454;
    font-size: 1em;
    line-height: 160%;
    margin: 0 0 20px;
}

section.aulas-ao-vivo a.comprar {
    background: none repeat scroll 0 0 #183350 ;
    border: medium none;
    color: #FFFFFF;
    height: 38px;
    line-height: 170%;
    width: 40%;
}

section.aulas-ao-vivo a.comprar:hover, section.aulas-ao-vivo a.comprar:active, section.aulas-ao-vivo a.comprar:focus, section.aulas-ao-vivo a.comprar.active {
    color: #FFFFFF;
    background: #183350;
}

.agenda section.aulas-ao-vivo a.saiba-mais {
    margin: 0;
}

section.aulas-ao-vivo a.saiba-mais {
    background: none repeat scroll 0 0 #CCCCCC;
    border: medium none;
    color: #FFFFFF;
    height: 38px;
    line-height: 170%;
    margin: 0 0 0 10px;
    /*width: 50%;*/
    width: 94%;
}

section.aulas-ao-vivo a.saiba-mais:hover, section.aulas-ao-vivo a.saiba-mais:active, section.aulas-ao-vivo a.saiba-mais:focus, section.aulas-ao-vivo a.saiba-mais.active {
    color: #FFFFFF;
    background: #C1C1C1;
}

/* SECTION ENTRE EM CONTATO */

section.entre-em-contato {
    background: url("../imagens/banner-contato.jpg") no-repeat center center #FFFFFF;
    height: 528px;
    width: 100%;
}

section.entre-em-contato h1 {
    color: #545454;
    font-size: 4.286em;
    font-weight: 100;
    line-height: 100%;
    margin: 140px 0 0;
}

section.entre-em-contato h1 span {
    color: #9D2726;
    font-weight: 300;
}

/* SECTION FORMULÁRIO DE CONTATO */

section.formulario-contato h2 {
    font-size: 2.143em;
    font-weight: 300;
    line-height: 120%;
    margin: 0 0 20px;
}

section.formulario-contato p {
    color: #535353;
    font-size: 1em;
    line-height: 160%;
}

section.formulario-contato p a {
    color: #535353;
    font-weight: 500;
}

section.formulario-contato form input[type="email"],
section.formulario-contato form input[type="tel"],
section.formulario-contato form input[type="text"] {
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    background: #EBEBEB;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    color: #999999;
    font-size: 0.857em;
    height: 48px;
    line-height: 160%;
    margin: 0 0 20px;
    padding: 0 15px;
    width: 100%;
}

section.formulario-contato form select.hasCustomSelect {
    left: 15px !important;
}

section.formulario-contato form .customSelect {
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    background: url("../imagens/bg-select.png") no-repeat scroll 60px center #EBEBEB;
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    color: #999999;
    float: left;
    font-size: 0.857em;
    height: 48px;
    line-height: 160%;
    margin: 0 10px 0 0;
    padding: 15px;
    width: 102px;
}

section.formulario-contato form input.medio[type="text"] {
    float: left;
    width: 68%;
}

section.formulario-contato form textarea {
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    color: #999999;
    font-size: 0.857em;
    height: 254px;
    line-height: 160%;
    padding: 10px 15px;
    resize: none;
    width: 100%;
}

section.formulario-contato form input[type="submit"] {
    background: none repeat scroll 0 0 #183350 ;
    border: medium none;
    color: #FFFFFF;
    float: right;
    height: 38px;
    margin: 20px 0 0;
    width: 127px;
}

section.formulario-contato form input[type="submit"]:hover, section.formulario-contato form input[type="submit"]:active, section.formulario-contato form input[type="submit"]:focus, section.formulario-contato form input[type="submit"].active {
    color: #FFFFFF;
    background: #183350;
}

/* SECTION SOBRE CLIQUE SOLIDÁRO */

section.sobre-clique h1 {
    font-size: 2.143em;
    font-weight: 300;
    line-height: 150%;
    margin: 0;
}

section.sobre-clique p {
    color: #525252;
    font-size: 1em;
    line-height: 160%;
}

/* SECTION VIDEO SOLIDÁRIO */

section.videos-solidarios {
    padding: 40px;
}

section.videos-solidarios h2 {
    color: #525252;
    font-size: 2.143em;
    font-weight: 300;
    line-height: 110%;
    margin: 0 0 40px;
}

section.videos-solidarios figure {
    margin: 0 0 40px;
    position: relative;
}

section.videos-solidarios figure span {
    bottom: -5px;
    position: absolute;
    right: -5px;
}

/* SECTION MINHAS INFO */

section.minhas-info h2 {
    color: #9D2926;
    font-size: 1.286em;
    font-weight: normal;
    line-height: 150%;
    margin: 0 0 20px;
}

section.minhas-info label {
    color: #666666;
    display: block;
    font-size: 1.143em;
    font-weight: normal;
    margin: 0 0 10px;
}

section.minhas-info input[type="text"],
section.minhas-info input[type="password"],
section.minhas-info select{
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    color: #666666;
    font-size: 0.857em;
    height: 50px;
    margin: 0 0 20px;
    padding: 0 10px;
    width: 100%;
}
section.minhas-info select{
    padding-top: 15px;
    padding-bottom: 15px;

}
/* SECTION BANNER CLIQUE SOLIDARIO */

section.banner-clique-solidario {
    background: url("../imagens/banner-sobre-rodape.jpg") no-repeat center center #FFFFFF;
    height: 732px;
    width: 100%;
}

section.banner-clique-solidario h2 {
    font-size: 4.286em;
    font-weight: 100;
    line-height: 110%;
    margin: 150px 0 20px;
}

section.banner-clique-solidario h2 span {
    font-weight: 300;
}

section.banner-clique-solidario p {
    color: #333333;
    font-size: 1em;
    line-height: 160%;
}

/* SECTION FAESP */

section.faesp {
    padding: 50px 0 40px;
}

section.faesp h2 {
    color: #525252;
    font-size: 2.143em;
    font-weight: 300;
    margin: 0 0 30px;
}

section.faesp h2 strong {
    font-weight: 500;
}

section.faesp p {
    color: #525252;
    font-size: 1em;
    line-height: 160%;
    margin: 0 0 20px;
}

/* SELECT FILMES */

.customized {
    box-shadow:inset 2px 1px 1px 0 rgba(0,0,0,0.3);
    background: url("../imagens/seta-select.png") no-repeat 95% center #FBFBFB;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    font-size: 0.857em;
    height: 44px;
    /*margin: 0 10px 0 0;*/
	margin: 0 0px 0 0;
    padding: 12px 10px 0 10px;
    text-align: left;
    width: 30%;
}

/* SECTION BANNER BIBLIOTECA */

section.banner-biblioteca {
    background: url("../imagens/biblioteca-banner.jpg") no-repeat center center #FFFFFF;
    height: 760px;
    width: 100%;
}

section.banner-biblioteca h2 {
    color: #545454;
    font-size: 4.286em;
    font-weight: 100;
    line-height: 100%;
    margin: 140px 0 20px;
}

section.banner-biblioteca h2 span {
    font-weight: 300;
}

section.banner-biblioteca p {
    color: #333333;
    font-size: 1em;
    line-height: 160%;
}

/* SECTION NAV INTERNA */

section.nav-interna {
    background: url("../imagens/bg-interna.jpg") repeat transparent;
    height: 68px;
    width: 100%;
}

section.nav-interna ul li a {
    color: #EAACAA;
    margin: 20px 20px 0 0;
    font-size: 0.857em;
}

section.nav-interna ul li a:hover, section.nav-interna ul li a:focus {
    background: none;
    text-decoration: underline;
}

/* SECTION FILMES DETALHE */

section.filme-detalhe {
    margin: 70px 0;
}

section.filme-detalhe .o-filme figure {
    margin: 0 0 10px;
    position: relative;
}

section.filme-detalhe .o-filme figure span {
    top: -6px;
    position: absolute;
    right: -6px;
    z-index: 20;
}

.video-container {
    position: relative;
    /*padding-bottom: 56.25%;*/
    min-height: 411px;
    overflow: hidden;
    z-index: 10;
}

section.filme-detalhe .o-filme figure .video-container iframe, section.filme-detalhe .o-filme figure.video-container object, section.filme-detalhe .o-filme figure .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section.filme-detalhe .o-filme > a {
    color: #444444;
    display: block;
    float: left;
    font-family: lato, sans-serif;
    font-size: 1.143em;
    font-style: italic;
    margin: 0 20px 0 0;
    padding: 0 0 0 30px;
}

section.filme-detalhe .o-filme a.favoritos {
    background: url("../imagens/favorito-bg-off.png") no-repeat scroll 0 0 transparent;
}

section.filme-detalhe .o-filme a.favoritos:hover, section.filme-detalhe .o-filme a.favoritos.ativo {
    background: url("../imagens/favorito-bg-on.png") no-repeat scroll 0 0 transparent;
}

section.filme-detalhe .o-filme a.apagar-luz {
    background: url("../imagens/apagar-luz.png") no-repeat scroll 0 0 transparent;
    padding: 0 0 0 25px;
}

section.filme-detalhe header h1 {
    color: #535353;
    font-size: 1.857em;
    font-weight: 300;
    line-height: 100%;
    margin: 0 0 10px;
}

section.filme-detalhe header span {
    display: block;
    font-size: 0.857em;
    font-style: italic;
    line-height: 160%;
}

section.filme-detalhe header span.data-publicacao {
    color: #444444;
}

section.filme-detalhe header span.visualizacoes {
    color: #183350 ;
    margin: 0 0 15px;
}

section.filme-detalhe .descricao-filme {
    height: 100px;
    margin: 0 0 30px;
    overflow: hidden;
    position: relative;
}

section.filme-detalhe .descricao-filme .fadeout {
    bottom: 0;
    height: 25px;
    left: 0;
    position: absolute;
    width: 100%;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

section.filme-detalhe a.ler-mais {
    color: #183350 ;
    cursor: pointer;
    font-size: 0.857em;
    line-height: 160%;
}

section.filme-detalhe a.ler-mais img {
    margin: 0 0 0 10px;
    vertical-align: baseline;
}

section.filme-detalhe .dados-filme {
    color: #525252;
    font-size: 0.857em;
}

section.filme-detalhe .dados-filme a {
    color: #999999;
}

section.filme-detalhe .comprar, #modalblock .comprar, .modalblock .comprar {
    margin: 25px 0 0;
}

section.filme-detalhe .preco {
    color: #525252;
    line-height: 120%;
}

section.filme-detalhe .preco > span {
    color: #183350;
    font-family: lato,sans-serif;
    font-size: 2em;
    line-height: 150%;
}

section.filme-detalhe .comprar a {
    background: none repeat scroll 0 0 #183350 ;
    border-radius: 0;
    color: #FFFFFF;
    margin: 10px 0 0;
    padding: 10px 30px;
}

section.filme-detalhe .comprar a:hover {
    color: #FFFFFF;
}


/* SECTION COMENTÁRIO E VÍDEOS RELACIONADOS */

section.comentarios-relacionados h2 {
    color: #183350;
    font-size: 2.143em;
    font-weight: 300;
    line-height: 100%;
    margin: 20px 0;
}

section.comentarios-relacionados .linha-vertical {
    background: none repeat scroll 0 0 #DDDDDD;
    height: 1px;
    margin: 45px 0 0;
    width: 100%;
}


section.comentarios-relacionados hr {
    background: none repeat scroll 0 0 #DDDDDD;
    border: medium none;
    height: 1px;
    margin: 40px 0;
}

section.comentarios-relacionados article.comentario header {
    margin: 0 0 10px;
    overflow: hidden;
}

section.comentarios-relacionados article.comentario h3 {
    color: #444444;
    float: left;
    font-size: 1.286em;
    font-weight: bold;
    line-height: 160%;
    margin: 0;
}

section.comentarios-relacionados article.comentario span {
    color: #444444;
    float: left;
    font-size: 0.857em;
    font-style: italic;
    margin: 7px 0 0 20px;
}

section.comentarios-relacionados .videos-relacionados {
    margin: 0 0 40px;
}

section.comentarios-relacionados .videos-relacionados figure {
    position: relative;
}

section.comentarios-relacionados .videos-relacionados figure span {
    bottom: -5px;
    position: absolute;
    right: -5px;
}

section.comentarios-relacionados .videos-relacionados header a {
    color: #555555;
    display: block;
    font-size: 1.571em;
    font-weight: 300;
    line-height: 100%;
    margin: 20px 0 15px;
}

#modalfree {
    color: #183350 ;
}

#modalfree h1 {
    color: #671c19;
}

#modalfree span {
    font-size: 20px;
    line-height: 30px;
    display: block;
    padding: 10px 30px;
}

#modalfree #fazercadastro {
    width: 50%;
    float: left;
}

#modalblock #fazercadastro a, .modalblock #fazercadastro a {
    background: none repeat scroll 0 0 #183350 ;
    color: #FFFFFF;
}

#modalfree #semcadastro {
    width: 50%;
    float: left;
}

#modalfree #fazerlogin {
    text-align: left;
    padding: 10px 30px;
    font-size: 12px;
    color: #183350 ;
    width: 100%;
    float: left;
}

#modalfree #fazerlogin a {
    color: #183350 ;
}

#modalblock, .modalblock {
    color: #555555;
}

#modalblock #topomodal, .modalblock #topomodal {
    text-align: left;
    padding: 10px 30px;
}

#modalblock #topomodal h1, .modalblock #topomodal h1 {
    font-size: 20px;
    font-weight: 300;
}

#modalblock #topomodal h1 span, .modalblock #topomodal h1 span {
    font-weight: 400;
}

#modalblock #centromodal, .modalblock #centromodal {
    background-color: #F5F5F5;
    -moz-box-shadow: inset 0 8px 8px -8px #C7C7C7, inset  0 -8px 8px -8px #C7C7C7;
    -webkit-box-shadow: inset 0 8px 8px -8px #C7C7C7, inset 0 -8px 8px -8px #C7C7C7;
    box-shadow: inset 0 8px 8px -8px #C7C7C7, inset 0 -8px 8px -8px #C7C7C7;
    margin: 0 -5px;
    padding: 20px 30px;
    text-align: left;
}

#modalblock #centromodal b, .modalblock #centromodal b {
    color: #183350 ;
}

#modalblock #rodapemodal, .modalblock #rodapemodal {
    padding: 10px 30px 0;
    text-align: left;
}

#modalblock #rodapemodal img, .modalblock #rodapemodal img {
    padding: 15px 0;
}
#modalblock #rodapemodal .btn, .modalblock #rodapemodal .btn {
    background: none repeat scroll 0 0 #183350 ;
    color: #FFFFFF;
}

.logo-rodape-menor, .botao-menu, .menu-responsivo {
    display: none;
}

.botao-menu {
    float: left;
    margin: 40px 0 0;
}

.botao-menu img {
    cursor: pointer;
}

.menu-responsivo {
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.menu-responsivo ul {
    background: none repeat scroll 0 0 #872321;
    margin: 0;
    padding: 10px 0 0;
}

.menu-responsivo ul li a {
    background: none repeat scroll 0 0 #872321;
    border-bottom: 1px solid #701D1B;
    color: #FFFFFF;
    display: block;
    font-size: 1.286em;
    padding: 25px 15px;
}

.menu-responsivo ul li a.login {
    background: none repeat scroll 0 0 #701D1B;
}

.bx-controls {
    display: none;
}

figure iframe,
figure object,
figure embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.my-navbar .nav > li > a {
    padding: 10px !important
}

section.video-topo {
    max-height: 600px;
    overflow: hidden;
}

section.video-topo video, section.video-topo img {
    width: 100% !important;
    height: auto;
}
/* MEDIA QUERIES */

@media (max-width: 991px){
    .menu, .logo-rodape, .redes-sociais, .sobre section.assista-aulas, .sobre section.banner-clique-solidario  {
        display: none;
    }

    .logo-tolerancia {
        float: right;
    }

    .botao-menu {
        display: block;
    }

    .botao-cadastro {
        margin: 0 0 20px;
    }   

    .logo-rodape-menor {
        display: block;
        float: right;
    }

    .clear {
        clear: both;
    }
    
    section.cadastro p {
        width: 100%;
    }

    .botao-cadastro {
        margin: 0 0 40px;
    }

    .botao-cadastro a {
        width: 50%;
    }

    .meu-cadastro a {
        width: 55% !important;
    }
    
    .sobre section.tolerante {
        margin: 40px 0 30px;
    }

    .sobre section.tolerante article.quote {
        margin: 10px 0 40px;
        width: 100%;
    }

    section.tolerante .clear {
        padding: 30px 15px 0;
    }

    .sobre section.como-functiona header.imagem {
        float: left;
        margin: 0 15px 15px 0;
    }

    .sobre section.como-functiona h2 {
        margin: 0 0 30px;
    }

    .por-que section.razoes h2 {
        margin: 0 0 20px;
    }

    .ao-vivo section.aulas-ao-vivo a.comprar {

        width: 35%;
    }

    .chat-footer {  
        display: none !important;
    }

}

section.video-topo img.troca-img {
    display: none;
}

@media (max-width: 767px) {
    section.video-topo video {
        display: none;
    }

    section.video-topo img.troca-img {
        display: block;
    }

    .meu-cadastro a {
        width: 100% !important;
    }

    .botao-cadastro a {
        width: 88%;
    }

    .sobre section.como-functiona header.imagem {
        float: none;
        margin: 0 0 15px;
    }

    section.formulario-contato form input.medio[type="text"] {
        float: none;
        width: 100%;
    }

    section.formulario-contato form .customSelect {
        background: url("../imagens/bg-select.png") no-repeat scroll 95% center #EBEBEB;
        margin: 0 10px 20px 0;
        width: 100%;
    }

    .nav > li {
        float: left;
    } 

    section.nav-interna ul li a {
        margin: 20px 10px 0 0;
    }
}

.modalblock .btn_fechar{
    float: right;
    margin: -20px -25px 0 0;
}
.blockUI.blockMsg.blockPage{
    cursor: default !important;
    top: 20% !important;

}
.blockUI.blockOverlay{
    cursor: default !important;   
}
.btnFechar{
    float: right;
    margin: -20px -25px 0 0;
}
.form-donation .col-form{
    float: left !important; 
    display: block !important;
    width: 50% !important;
}
.form-donation .col-form .col-md-3{
    width: auto !important;
}
.form-donation .col-form .col-md-4{
    width: auto !important;   
}
.form-donation .col-form .btn.btn-default{
    float: right !important;
}

.comprar #btnComprar {
    background: none repeat scroll 0 0 #157591;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    height: 38px;
    margin: 0 0 10px;
    width: 144px;
}

.comprar #btnAssinar {
    background: none repeat scroll 0 0 #183350 ;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    height: 38px;
    width: 144px;
}

.chat-footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

.link {
    background: none repeat scroll 0 0 #183350 ;
    bottom: 0;
    color: #ECECEC;
    font-size: 22px;
    font-weight: 300;
    height: 55px;
    left: 0;
    line-height: 100%;
    padding: 15px 0 0;
    position: fixed;
    width: 100%;
}

.link a {
    color: #FFBF00;
    font-weight: bold;
}

.mulher {
    background: url("../imagens/mulher-chat.png") no-repeat transparent;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 346px;
    height: 318px;
    z-index: 100;
}

.mulher img {
    cursor: pointer;
    float: right;
    margin: 10px 30px 0 0;
}

#topomodal h1.custom {
    font-size: 36px;
    font-weight: 200;
    line-height: 100%;
}

#topomodal h4.custom {
    color: #535353;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px;
}

p.valor {
    font-size: 25px;
    line-height: 160%;
}

#centromodal input[type="text"] {
    background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #CACACA;
    border-radius: 5px;
    height: 50px;
    padding: 0 10px;
    width: 200px;
}

.outro p img {
    float: left;
    margin: 0 10px 0 0;
    padding: 0 !important;
}

.outro p a {
    color: #183350;
    text-decoration: none;
}

.outro p a:hover {
    text-decoration: underline;
}

a.saiba-mais-como-funciona {
    cursor: pointer;
}

.overlay {
    background: none repeat scroll 0 0 #000000;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 800;
}
.apagar-luz {
    cursor: pointer;
}

.addthis {
    display: block;
    width: 60px;
}

.concordo-com-os-termos {
    font-size: 12px;
    line-height: 150%;
    margin: 0 0 20px;
}

.concordo-com-os-termos a {
    color: #9D2926;
}

h1.outro-titulo {
    font-size: 26px !important;
}

.cadastre-se {
    margin: 0 0 30px
}

.cadastre-se h2 {
    color: #671C19;
    font-weight: 300;
    line-height: 100%;
    margin: 0 0 10px;
}

.cadastre-se .botao {
    border: medium none;
    margin: 0 0 10px;
    padding: 15px 10px;
    width: 60%;
}

.cadastre-se .fazer-cadastro.botao {
    background: #183350 ;
    color: #FFFFFF;
}

.cadastre-se .sem-cadastro.botao {
    background: #D4D4D4;
    color: #183350 ;
    margin: 10px 0 0;
}
.cadastre-se a {
    color: #183350 ;
    padding: 0 0 10px;
}

#btnAssinarGeneral {
    color: #FFFFFF;
    width: 127px;
}

.assine .destaque {
    background: #FFFFFF;
}
.assine .ultimos-videos h2 {
    font-size: 26px !important;
}

a.menor {
    width: 308px
}

.btn.menor {
    color: #FFFFFF !important;
}

p.custom {
    color: #9D2726 !important;
    font-weight: bold !important;
    margin: 30px 0 5px;
    font-size: 20px;
}

section.ultimos-videos h2 span {
    font-size: 18px;
}

section.banner-curso {
    background: url("../imagens/curso_tmp.jpg") no-repeat center 0 transparent;
    height: 626px;
    padding: 100px 0 0;
    width: 100%;
}

section.banner-curso h2 {
    color: #9D2626;
    font-size: 58px;
    font-weight: 300;
    line-height: 100%;
    margin: 0 0 20px;
}

section.banner-curso.filme {
    background: url("../imagens/filme_tmp.jpg") no-repeat center 0 transparent;
}

section.banner-curso p {
    color: #525252;
}

section.cursos header h2 {
    color: #183350;
    font-size: 40px;
    font-weight: 300;
    margin: 0 0 70px;
}

section.cursos header h2 span {
    color: #525252
}

section.cursos .modulos {
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    background: none repeat scroll 0 0 #E8E8E8;
    overflow: hidden;
    padding: 40px 20px;
}

section.cursos .modulos article {
    color: #525252;
    font-size: 18px;
    font-weight: 300;
    line-height: 120%;
    margin: 0 0 20px;
}

section.cursos .modulos article span {
    color: #183350;
    font-weight: bold;
}

section.cursos h3 {
    color: #535353;
    font-size: 35px;
    font-weight: 300;
    margin: 100px 0 0;
}

section.cursos h3 span {
    color: #183350 ;
    font-size: 20px;
    font-style: italic;

}

.mensagem-como-funciona #topomodal h4.custom {
    margin: 0 !important;
}

section.banner-londres {
    background: none repeat scroll 0 0 #183350 ;
    bottom: 0;
    color: #ECECEC;
    font-size: 20px;
    font-weight: 300;
    height: 55px;
    padding: 12px 0;
    position: fixed;
    width: 100%;
}

section.banner-londres a {
    color: #FFBF00;
    font-weight: bold;
}

.fechar-chat {
    cursor: pointer;
}

.overlay-tela {
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
}

.conteudo-explicativo {
    position: relative;
}

.explicacao {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px;
    height: 480px;
    left: 50%;
    margin: -240px 0 0 -300px;
    padding: 20px;
    position: fixed;
    top: 50%;
    width: 600px;
    z-index: 200;
}

.explicacao h2 {
    color: #9D2626;
    font-size: 25px;
    font-weight: 300;
    line-height: 100%;
    margin: 0 0 20px;
}

.explicacao h3 {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 30px;
}

.explicacao h3 span {
    font-weight: normal;
}

.explicacao article {
    border-bottom: 1px solid #DBDBEA;
    margin: 0 0 20px;
    padding: 0 0 10px;
}

.explicacao article img {
    float: left;
    margin: -7px 15px 0 0;
}

.explicacao a {
    color: #9D2626;
}

.conteudo-explicativo > img {
    cursor: pointer;
    position: absolute;
    right: -40px;
    top: -40px;
}

a.assine {
    margin: 120px 0 0 !important;
}

img.seminario {
    margin: 0 0 50px;
}

section.evento {
    background: url("../imagens/banner-ao-vivo.jpg") no-repeat center 0 #FFFFFF;
    height: 426px;
    width: 100%;
}

.desc-assine {
    background: none repeat scroll 0 0 #E2E2E2;
    margin: 0 0 20px;
    padding: 20px 30px;
}

.desc-assine h3 {
    color: #9D2726;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 10px;
}

.desc-assine p {
    color: #525252;
    line-height: 160%;
}

.desc-assine p span,
.desc-assine p a {
    color: #9D2626;
}

.valor-assinatura {
    margin: 20px 0;
}

.facebook {
    color: #183350;
    font-size: 12px;
}

.assine-a-casa {
    margin: 25px 0 0;
}

span.telefone {
    color: #183350;
}

.todos-filmes {
    background: none repeat scroll 0 0 #7E211F;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    height: 38px;
    line-height: 250%;
    margin: 0 auto;
    width: 318px;
}

.todos-filmes:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

section.minhas-info .area-restrita h2 {
    color: #525252;
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 30px;
}

section.minhas-info .area-restrita a {
    color: #9D2626;
    font-size: 27px;
}

section.minhas-info .area-restrita p {
    margin: 0 0 40px;
}

.meus-dados h1 span {
    color: #183350;
}
.sucesso h1 {
    color: #183350;
    font-size: 40px;
    font-weight: 300;
    margin: 40px 0 40px;
}

.sucesso p {
    font-size: 30px !important;
    font-weight: 100 !important;
    line-height: 200% !important;
    text-align: center !important;
}
.tipo-cadastro label{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    float: left;
    height: auto;
    width: 34%;
}
.concordo-com-os-termos .form-control{
    float: left;
    height: inherit;
    margin: 2px 6px 0 0;
    width: auto !important;
}
.concordo-com-os-termos label{
    width: auto !important;
}

label span.ex {
    color: #AFAFAF !important;
    font-size: 11px !important;
}

form#UserAddForm input[type="checkbox"] {
    float: left;
    margin: 5px 8px 0 0;
}

span.vermelho {
    color: #9D2626 !important;
}

.menor {
    color: #808080 !important;
    font-size: 13px !important;
    line-height: 150%;
    margin: 0 0 40px;
}

.menor span {
    color: #547E47;
    font-weight: bold;
}

.menor a {
    color: #9D2626 !important;
}

div.menor {
    width: 405px;
    margin: 10px auto 0;
}

form#UserAddForm input[type="submit"], .btn-assine-edit {
    background: none repeat scroll 0 0 #7E211F;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: lato;
    font-size: 18px;
    height: 50px;
    margin: 50px 0 0;
    width: 405px;
}



div.endereco {
    background: none repeat scroll 0 0 #EAEAEA;
    margin: 20px 0;
    padding: 10px 20px;
}

div.endereco h3 {
    color: #9D2726;
    font-size: 18px;
    margin: 0 0 20px;
    line-height: 150%;
}

.no-shadow {
    box-shadow: none !important;
}
.form-group .error-message{
    color: #9D2926;
    margin-top: -15px;
}
.teste_input{display: none;}
.category-movie{
	color: #183350; 
	font-size: 10px
}

section.novidades {
    overflow: hidden;
    padding: 20px 0 50px;
}

section.novidades h2 {
    border-bottom: 1px solid #DDDDDD;
    color: #525252;
    display: block;
    font-size: 2.143em;
    font-weight: 300;
    letter-spacing: 0.6px;
    line-height: 100%;
    margin: 20px 0 10px;
    padding: 0 0 5px;
}

section.novidades a.title {
    color: #183350;
    display: block;
    font-size: 16px;
    margin: 5px 0;
    cursor: default;
}
section.novidades a.title:hover{
    text-decoration: none;
}

section.novidades a {
    color: #183350 ;
    font-size: 12px;
}

section.novidades .linha {
    background: none repeat scroll 0 0 #E9D7D4;
    height: 1px;
    margin: 13px 0 0;
    width: 100%;
}

.paginate-limit{
    margin-bottom: 20px;    
    padding-left: 30px;
}
.paginate-limit a{
    color: #183350;
}

section.aulas-ao-vivo h1.titulo {
    font-family: roboto;
    font-size: 30px;
    font-weight: lighter;
    margin: 0 0 50px 15px;
}

div.cursos section.aulas-ao-vivo a.comprar {
    width: 63%;
}

div.cursos section.aulas-ao-vivo a.saiba-mais {
    width: 31%;
}

section.aulas-ao-vivo p.valor {
    color: #183350;
    font-family: roboto;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 100%;
}

section.aulas-ao-vivo p.valor span {
    color: #183350;
    font-size: 12px;
    font-weight: bold;
}

section.aulas-ao-vivo p.valor span.alto {
    vertical-align: top;
}

div.cursos section.aulas-ao-vivo h2 {
    color: #535353;
    font-size: 2.571em;
    font-weight: 100;
    letter-spacing: 0.6px;
    line-height: 110%;
    margin: 0 0 10px;
}

section.modulos h1 {
    color: #525252;
    font-size: 30px;
    font-weight: 300;
    margin: 20px 0 40px;
}

section.modulos h2 {
    color: #183350;
    font-size: 22px;
    font-weight: bold;
    line-height: 110%;
    margin: 0 0 5px;
}

section.modulos p {
    color: #525252;
    font-size: 12px;
    line-height: 160%;
}

section.modulos p.subtitulo {
    margin: 0 0 40px;
}

section.modulos h3 {
    color: #545454;
    font-size: 18px;
    font-weight: normal;
    line-height: 110%;
    margin: 0 0 10px;
}

section.modulos h4 {
    color: #183350;
    font-size: 18px;
    font-weight: normal;
    line-height: 110%;
    margin: 40px 0 5px;
}

section.modulos .buttons {
    margin: 20px 0;
    clear: both;
}

section.modulos .buttons a {
    border: none;
    padding: 10px 15px;
}

section.modulos .buttons a.detalhes {
    background: none repeat scroll 0 0 #949494;
    color: #F5F5F5;
    margin: 0 10px 0 0;
}

section.modulos .buttons a.quero-comprar {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #444444;
}

section.modulos .buttons a.quero-comprar span {
    color: #183350;
    font-weight: bold;
    margin: 0 0 0 15px;
}

section.modulos img.thumb-modulo{
    float: left; 
    width: 161px; 
    margin: 0 10px 10px 1px;
}

section.modulos hr {
    background: none repeat scroll 0 0 #C3C3C3;
    border: medium none;
    height: 1px;
    margin: 50px 0;
    width: 100%;
}

.adquirir-cursos {
    background: none repeat scroll 0 0 #EEEEEE;
    margin: 60px 0 0;
    padding: 20px;

}
.observacao {
    color: #525252;
    font-size: 25px;
    font-weight: 300;
    line-height: 200%;
}

.valor-total-curso {
    color: #183350 ;
    font-size: 80px;
    font-weight: bold;
    line-height: 100%;
    margin: 0 0 10px;
}

.valor-total-curso span {
    font-size: 22px;
    line-height: 100%;
    vertical-align: baseline;
}

.valor-total-curso span.superior {
    vertical-align: super;
}

.adquirir-cursos a.comprar-curso-desconto {
    background: none repeat scroll 0 0 #183350 ;
    border: medium none;
    color: #FFFFFF;
    font-size: 28px;
    padding: 15px 40px;
}
.adquirir-cursos a.comprar-curso {
    background: none repeat scroll 0 0 #183350 ;
    border: medium none;
    color: #FFFFFF;
    font-size: 28px;
    padding: 15px 40px;
}
.adquirir-cursos a.comprar-curso-assinante{
    font-size: 20px;
    padding: 3px 24px;
    margin-top: 14px;
}


section.modulos .buttons a.detalhes.vermelho {
    background: none repeat scroll 0 0 #183350 ;
}

.desconto {
    color: #525252;
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
}

.desconto span {
    color: #183350 !important;
    font-size: 14px !important;
    font-weight: 700 !important;
}

.detalhe-assinante-desconto {
    color: #525252;
    /*font-size: 22px;*/
    font-size: 19px;
    font-weight: 300;
    line-height: 147%;
}

.detalhe-assinante-desconto span {
    color: #183350;
    font-weight: bold;
}

.pag-seguro {
    margin: 30px 0 0;
}

.banners-novos {
    font-size: 60px;
    font-weight: normal;
    height: 732px;
    line-height: 110%;
    padding: 140px 0;
    width: 100%;
}

.banners-novos span {
    font-weight: 300;
}

.banner-01, .banner-top-01,
.banner-02, .banner-top-02,
.banner-03, .banner-top-03,
.banner-04, .banner-top-04,
.banner-05, .banner-top-05,
.banner-06, .banner-top-06,
.banner-07, .banner-top-07,
.banner-08, .banner-top-08,
.banner-09, .banner-top-09,
.banner-10, .banner-top-10 {
    display: none;
}

.banner-top {
	background: none !important;
	height: auto !important;
	padding: 0px !important;
}

.banners-novos.banner-01 {
    color: #111111;
    background: url("../imagens/banners/banner-01.jpg") no-repeat scroll center center transparent;
}

.banners-novos.banner-02 {
    color: #183350 ;
    background: url("../imagens/banners/banner-02.jpg") no-repeat scroll center center transparent;
}

.banners-novos.banner-03  {
    color: #F5F5F5;
    background: url("../imagens/banners/banner-03.jpg") no-repeat scroll center center transparent;
}

.banners-novos.banner-04 {
    color: #F5F5F5;
    background: url("../imagens/banners/banner-04.jpg") no-repeat scroll center center transparent;
}

.banners-novos.banner-05 {
    color: #F5F5F5;
    background: url("../imagens/banners/banner-05.jpg") no-repeat scroll center center transparent;
}

.banners-novos.banner-06 {
    color: #222222;
    background: url("../imagens/banners/banner-06.jpg") no-repeat scroll center center transparent;
}

.banners-novos.banner-07 {
    color: #222222;
    background: url("../imagens/banners/banner-07.jpg") no-repeat scroll center center transparent;
}

.banners-novos.banner-08 {
    color: #222222;
    background: url("../imagens/banners/banner-08.jpg") no-repeat scroll center center transparent;
}

.banners-novos.banner-09 {
    color: #FFFFFF;
    background: url("../imagens/banners/banner-09.jpg") no-repeat scroll center center transparent;
}

.banners-novos.banner-10 {
    color: #222222;
    background: url("../imagens/banners/banner-10.jpg") no-repeat scroll center center transparent;
}

.data{
    color: #183350;
    font-size: 18px !important;
    margin-bottom: 20px;
    margin-top: 30px !important;
    display: block;
    float: left;
    width: 100%;
}

.penal_tolerante p{
    /*line-height: 1.42857 !important;*/
    margin-bottom: 5px !important;
}
.penal_tolerante p b{
    float: left;
    padding-top: 10px;
    width: 100%;
}

.legend-off{
    color: #183350;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: -20px;
}

.btn-cadastre-se{
    margin-top: 25px; 
    margin-left: 10px; 
    float: left;
}
#btn-cadastre-se {
  -vendor-animation-duration: 2s;
  /*
  /*-vendor-animation-delay: 5s;

   animation-iteration-count: infinite;
   -moz-animation-iteration-count: infinite;
   -webkit-animation-iteration-count: infinite;*/
}

section.novidades.sobre-e-blog {
    display: block;
    margin-bottom: -20px !important;
    padding-bottom: 0px !important;
}
section.novidades.sobre-e-blog h2.no-border {
    border: none;
}

section.novidades.sobre-e-blog .sobre {
    background-color: #183350 ;
    padding: 20px;
    color:  #FFF;
    font-size: 16px;
}

section.novidades.sobre-e-blog .sobre p {
    /*margin-bottom: 15px;*/
	margin-bottom: 20px;
	font-size: 14px;
}

section.novidades.sobre-e-blog .blog a.title{
    color: #555555;
}

section.novidades.sobre-e-blog .blog p {
    color: #535353;
}
section.novidades.sobre-e-blog .blog .btn-ler-mais {
    background: none repeat scroll 0 0 #183350 ;
    border: medium none;
    border-radius: 0;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
    color: #ffffff;
    display: block;
    font-size: 0.857em;
    height: 36px;
    line-height: 160%;
    width: 83px;
    margin-bottom: 20px;
    margin-right: 10px;
    float: right;
}

section.novidades.sobre-e-blog .blog .btn-ler-mais:hover {
    opacity: 0.8 !important;
}

section.destaque-curso {
    background-color: #183350 ;
    padding: 0px 0px 40px 0px;
}
section.destaque-curso h2{
    color: #fff;
    font-size: 42px;
    font-weight: normal;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

section.destaque-curso .destaque-curso-descricao{
    background-color: #A53F3C;
    padding: 28px 34px;
    color: #FFF;
    line-height: 23px;
    min-height: 217px;
}

section.destaque-curso .destaque-curso-valores{
    background-color: #7E211F;
    padding: 28px 34px;
    float: left;
    min-height: 217px;
}
section.destaque-curso .destaque-curso-valores p{
    color: #fff;
    float: left;
    font-size: 27px;
    width: 100%;
}
section.destaque-curso .destaque-curso-valores p span{
    float: left;
}
section.destaque-curso .destaque-curso-valores p span.descricao{
    margin-top: 15px;
}
section.destaque-curso .destaque-curso-valores p span.alto{
    font-size: 21px;
    margin-left: 15px;
    vertical-align: top;
}
section.destaque-curso .destaque-curso-valores p span.valor{
    font-size: 65px;
    margin-left: 10px;
    margin-top: -13px;
}
section.destaque-curso .destaque-curso-valores p span.baixo{
    font-size: 30px;
    margin-left: 2px;
    margin-top: 25px;
}
section.destaque-curso .destaque-curso-valores .btn-comprar-curso{
    background-color: #fff;
    border-radius: 5px;
    color: #8c2522;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: normal;
    padding: 12px 0;
    text-align: center;
    width: 100%;
}
section.destaque-curso .destaque-curso-valores .btn-comprar-curso:hover{
    text-transform: none;
}
section.destaque-curso .destaque-curso-valores .desconto{
    color: #c7c7c7;
    display: block;
    float: left;
    font-size: 12px;
    font-style: italic;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
.blog-home-content {
    float: left; 
    background: none repeat scroll 0px 0px rgb(245, 245, 245); 
    padding-top: 15px;
}
.blog-home-content .title {
    font-weight: bold;
    font-size: 18px !important;
}
.navbar-nav{
	float: none !important;
}
.nav>li{
	float: none !important;
	display: inline-block !important;
}
.btn-leia-mais-curso {
	line-height: normal;
	padding: 0;
	color: #183350;
	font-weight: bold;
}

section.soucontra171 {
    background: #000;
}
section.soucontra171 .header {
    margin: 40px 0;
}
section.soucontra171 .alinha-img {
    padding-top: 45px;
}
section.soucontra171 .content {
    margin: 0 0 40px;
}
section.soucontra171 .content h2 {
    color: #fff;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 25px;
}
section.soucontra171 .content p {
    color: #ebebeb;
    font-family: 'Roboto';
    font-size: 14px;
}
section.soucontra171 .content p span {
    font-size: 40px;
    color: #FFCC27;
    margin-right: 2px;
}
section.soucontra171 .sidebar {
    background: #FFCC29;
    padding: 20px;
    border-bottom: 2px #E8AE00 solid;
}
section.soucontra171 .sidebar.last {
    border-bottom: none;
}
section.soucontra171 .sidebar span {
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 300;
}
section.soucontra171 .sidebar h4 {
    font-size: 35px;
    font-family: 'Lato';
    font-weight: bold;
    text-align: center;
}
section.soucontra171 .sidebar h4 span {
    font-size: 35px;
    font-weight: bold;
    color: #606060;
}
section.soucontra171 .sidebar p {
    color: #000;
    font-family: 'Roboto';
    font-size: 14px;
    text-align: center;
}
section.soucontra171 .sidebar img {
    margin-bottom: 10px;
}
section.soucontra171 .sidebar .img {
    max-width: 80%;
    position: relative;
}
section.soucontra171 .sidebar .img-2 {
    max-width: 60%;
    position: relative;
}
section.soucontra171 .sidebar a:hover {
    text-decoration: none;
}

/* stylo dia do bem */

@font-face {
    font-family: 'aller';
    src: url('../fonts/allerdisplay-webfont.eot');
    src: url('../fonts/allerdisplay-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/allerdisplay-webfont.woff2') format('woff2'),
         url('../fonts/allerdisplay-webfont.woff') format('woff'),
         url('../fonts/allerdisplay-webfont.ttf') format('truetype'),
         url('../fonts/allerdisplay-webfont.svg#aller_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    z-index: 9999;
    position: relative;
}
section.dia-do-bem {
    background: #7C7B65;
    margin-top: -72px;
    padding-top: 92px;
}
section.dia-do-bem .sidebar {
    background-color: #D9A300;
    color: #353526;
    text-align: center;
    -webkit-box-shadow: -10px -10px 0px 0px rgba(255,255,255,1);
    -moz-box-shadow: -10px -10px 0px 0px rgba(255,255,255,1);
    box-shadow: -10px -10px 0px 0px rgba(255,255,255,1);
    padding: 20px 25px;
}
section.dia-do-bem .col-lg-4{
    padding-left: 0px;
    padding-right: 0px;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(70,70,55,0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(70,70,55,0.75);
    box-shadow: 10px 10px 0px 0px rgba(70,70,55,0.75);
    margin-top: 30px;
    margin-bottom: 50px;
}
section.dia-do-bem .col-lg-8{
    padding-right: 0px;
    margin-right: 0px;
}
section.dia-do-bem .sidebar h4{
    font-weight: 300;
    font-size: 20px;
}
section.dia-do-bem .sidebar h3{
    font-family: Lato;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
}
section.dia-do-bem .sidebar h3 strong{
    font-weight:800;
    color: #000;
}
section.dia-do-bem .sidebar p {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    margin: 5px 15px 25px 15px;
}

section.dia-do-bem .sidebar form label{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
}
section.dia-do-bem .sidebar form label span{
    text-transform: lowercase;
    font-style: italic;
}
section.dia-do-bem .sidebar form p {
    text-align: center;
}
section.dia-do-bem .sidebar form p strong{
    font-weight: 400;
}
section.dia-do-bem .sidebar form .form-control{
    border-radius: 0px;
}
section.dia-do-bem .sidebar form button {
    width: 100%;
    border-radius: 8px;
    background-color: #686859;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 3px solid rgba(84, 84, 74, 0.42);
    color: #FFF;
}
section.dia-do-bem .sidebar input[type=file] {
    opacity: 0;
    position: relative;
    z-index: 9999;
    background-color: #686859;
    border: 1px solid #aaa;
    color: #Fff;
    height: 32px;
}
.myClose {
    position: relative;
    z-index: 99999999;
    width: 10px;
    margin-right: -22px!important;
    cursor: pointer;
}
section.dia-do-bem .sidebar .my-file {
    display: block;
    background-color: #686859;
    border: 1px solid #aaa;
    color: #F0F0E9;
    height: 32px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    margin-top: -33px;
    position: relative;
}
section.dia-do-bem .sidebar .my-file p {
    margin: 0px;
    padding: 1px 30px;
    font-weight: 200;
    font-size: 14px;
    color: #ddd;
}
.my-file p span {
    margin-left: -14px;
    margin-right: 14px;
    font-size: 18px;
}
section.dia-do-bem .sidebar form button:hover {
    color: #fff;
    background-color: #777768;
}
section.dia-do-bem .content .data-evento{
    background-image: url(../imagens/bg-dia-do-bem.gif);
    height: 330px;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: -30%;
    background-size: 120%;
}
section.dia-do-bem .content .data-evento .dt-day {
    float: left;
    text-align: center;
    margin-top: 140px;
    margin-left: 40px;
    margin-bottom: 14px;
}
section.dia-do-bem .content .data-evento .dt-day h2 {
    font-size: 70px;
    color: #464637;
    font-family: "aller";
    text-shadow: -3px -9px 0px rgba(255, 255, 255, 1);
    margin-bottom: 10px;
}
section.dia-do-bem .content .data-evento .dt-day p {
    font-size: 20px;
    color: #FFF;
    font-weight: 200;
    margin-top: -25px;
    text-align: left;
}
section.dia-do-bem .col-lg-8 h4 {
    font-family: "aller";
    font-size: 25px;
    color: #fff;
    width: 100%;
    float: left;
    padding-left: 85px;
    margin-top: -4px;
}
section.dia-do-bem .col-lg-8 .texto{
    padding-right: 8%;
}
section.dia-do-bem .col-lg-8 .texto h2 {
    color: #FFF;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 30px;
}
section.dia-do-bem .col-lg-8 .texto p {
    margin-bottom: 30px;
    color: #fff;
    line-height: 25px;
    font-weight: 300;
}
section.dia-do-bem .col-lg-8 .texto p span {
    color: #D9A300;
    font-weight: 600;
    font-size: 18px;
}
section.dia-do-bem .col-lg-8 .colunas{
    border-left: 2px solid #71705C;
    box-shadow: none;
    text-align: center;
    padding: 10px 15px;
    min-height: 200px;
    color: #fff;
}
section.dia-do-bem .col-lg-8 .my-first{
    border-left: 0px!important;
}
section.dia-do-bem .col-lg-8 .colunas h3 {
    color: #D9A300;
    font-size: 40px;
    font-weight: 600;
}
section.dia-do-bem .col-lg-8 .colunas p {
    font-size: 17px;
    font-weight: 300;
}
section.dia-do-bem .col-lg-8 .eventos .item{
    float: left;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
}
section.dia-do-bem .col-lg-8 .eventos .black{
    background-color: rgba(70,70,55,0.25);
}
section.dia-do-bem .col-lg-8 .eventos .item figure{
    opacity: 0.65;
}
section.dia-do-bem .col-lg-8 .eventos .item p {
    color: #eee;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    padding-right: 20px;
    font-family: "Roboto";
}
section.dia-do-bem .col-lg-8 .eventos h4 {
    color: #FFF;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 300;
    margin: 35px 0px;
    padding-left: 7px;
}
section.dia-do-bem .col-lg-8 .eventos .item .text-descricao{
    float: left;
    width: 450px;
}
section.dia-do-bem .col-lg-8 .eventos .item p span{
    font-size: 20px;
    font-weight: 400;
}

section.dia-do-bem .col-lg-8 .eventos .item figure{
    width: 240px;
    height: 204px;
    overflow: hidden;
    border: 1px solid #999;
}
section.dia-do-bem .col-lg-8 .eventos .item figure img{
    margin: auto;
    height: 100%;
    width: auto;
}
section.dia-do-bem .col-lg-8 .img-parceiro{
    width: 100%;
}
section.novidades.sobre-e-blog .my-banners{
    width: 100%;
    margin-bottom: 20px;
}

@media (max-width: 1199px) {
    section.dia-do-bem .col-lg-8 .eventos .item .text-descricao {
        float: left;
        width: 316px;
    }
    section.dia-do-bem .content .data-evento .dt-day {
        float: left;
        text-align: center;
        margin-top: 53px;
        margin-left: 17px;
    }
}
@media (max-width: 991px) {
    section.dia-do-bem .content .data-evento .dt-day {
        float: left;
        text-align: center;
        margin-top: 53px;
        margin-left: 17px;
    }
}
@media (max-width: 655px) {
    section.dia-do-bem .col-lg-8 .eventos .item figure {
        display: none;
    }
    section.dia-do-bem .col-lg-8 .eventos .item .text-descricao {
        width: 100%;
    }
    section.dia-do-bem .col-lg-8 .colunas {
        border-left: 0px solid #71705C;
        border-bottom: 2px solid #71705C;
        min-height: 80px;
        padding: 0px;
        color: #fff;
        width: 100%;
    }
    section.dia-do-bem .col-lg-8 .colunas h3 {
        margin: 4px;
    }
    section.dia-do-bem .col-lg-8 .my-first {
        border-top: 2px solid #71705C;
    }
    section.dia-do-bem .col-lg-8 h4 {
        padding-left: 10px;
    }
}
/* stylo dia do bem */

section.sobre {
    padding: 40px 0;
}
section.sobre h2 {
    color: #183350 ;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 300;    
    margin-top: 0;
}
section.sobre p {
    color: #525252;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
}
section.sobre h3 {
    color: #525252;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 300;
}
section.sobre .alinha {
    margin-bottom: 25px;
    width: 100%;
    float: left;
}

.soucontra171-lista-deputados{
    list-style: none;
    margin:20px 0 0 0;
    padding:0;
}
.soucontra171-lista-deputados li{
    display: inline-block;
    height:58px;
    border:4px solid #FFCC29;
    margin:0 4px 6px 0;
}
.soucontra171-lista-deputados li.last{
    margin-right:0 !important;
}
.soucontra171-lista-deputados li:hover{
    border-color:#CE9B00;
}

.soucontra171-lista-deputados li .tooltip-inner{
    border-radius:0px;
    background-color: #C29201!important;
    font-style: italic;
    color: #000;
    opacity: 1 !important;
}
.soucontra171-lista-deputados li .tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #C29201;
}

.soucontra171-lista-deputados li .tooltip.in {
  opacity: 1;
  filter: alpha(opacity=1);
} 

.my-btns img{
    margin: auto;
}
.myIcdt{
    margin-right: 30px;
}