body {
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 1360px !important;
}

body > header {
    border-top: 5px solid #E99E34;
    padding: 50px 0;
}

body > header img {
    margin: 0 0 20px;
}

section.principal h1,
footer h2 {
    color: #992626;
    font-size: 42px;
    font-weight: 300;
    line-height: 100%;
    margin: 0;
}

section.principal h2,
footer h3 {
    color: #4B4B4C;
    font-size: 24px;
    font-weight: 300;
    margin: 30px 0 10px;
}

section.principal h2 span {
	color: #DF922D;
	font-weight: 500;
}

section.principal h3 {
    color: #C2781D;
    font-size: 22px;
    font-weight: 300;
    line-height: 110%;
    margin: 10px 0 0;
}

section.principal p {
    color: #444444;
    font-size: 14px;
    line-height: 160%;
    margin: 0;
}

section.videos {
	background: url("../imagens/bg-video.jpg") no-repeat center 0 #FFFFFF;
	height: 1146px;
	width: 100%;
}

section.videos .video {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #FFFFFF;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    display: block;
    margin: 552px auto 0;
    width: 543px;
}

section.videos a {
    display: block;
    margin: 60px 0 0;
}

section.outros 	{
	background: url("../imagens/bg-outros.jpg") no-repeat center 0 #7D1E18;
	height: 987px;
	padding: 55px 0;
	width: 100%;
}

section.outros h2 {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 300;
    line-height: 110%;
    margin: 0 0 65px;
}

section.outros h2 span {
	color: #DF912D;
	font-weight: normal;
}

section.outros h2.primeiro {
	font-size: 26px;
	margin: 0 0 50px;
}

section.outros h2.primeiro span {
	color: #FFFFFF;
	font-weight: normal;
}

section.outros ul {
    margin: 0 0 20px;
    padding: 0 0 0 15px;
}

section.outros ul li,
section.outros p {
	color: #FFFFFF;
	font-size: 14px;
	line-height: 160%;
	margin: 0 0 20px;
}

section.outros p.small {
    font-size: 13px;
    line-height: 130%;
    margin: 0 0 45px;
}

footer {
	padding: 65px 0;
}

footer h3 {
	margin: 10px 0 30px;
}

footer img.link {
	margin: 0 0 20px;
}

footer img.logo {
	margin: 30px 0 0;
}

section.outros h2.outro {
    font-size: 20px;
    margin: 30px 0 20px;
}

figure a {
    margin: 0 !important;
}