<section class="topo-pagina">
    <div class="container">
        <div class="row-fluid">
            <header>
                
            </header>
        </div>
    </div>
</section>
<section class="ultimos-videos destaque">
    <div class="container">
        <div class="row-fluid">
            <div class="sucesso text-center">
                <h1>Sua compra foi realizada com sucesso!</h1>
                <p>Fique a vontade para navegar pela Casa da Tolerância. A qualquer<br />momento você pode visualizar sua “área restrita” e acessar<br />informações exclusivas.</p>
            </div>
        </div>
    </div>
</section>