<section class="soucontra171">
	<div class="container">
		<div class="header">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 alinha-img">
					<?php echo $this->Html->image('imagens/imagem-capa-sou-contra-171.jpg', ['class' => 'img-responsive', 'alt' => 'MOVIMENTO TOLERANTE CONTRA A REDUÇÃO DA MAIORIDADE PENAL']); ?>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<?php echo $this->Html->image('imagens/face-sou-contra-171.png', ['class' => 'img-responsive', 'alt' => '#SOUCONTRA171 - MOVIMENTO TOLERANTE CONTRA A REDUÇÃO DA MAIORIDADE PENAL']); ?>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<h2>Carta Tolerante Contra a Redução da Maioridade Penal</h2>
					<p><span>T</span>odas as entidades e pessoas que subscrevem esta carta manifestam-se contra a aprovação da PEC 171 que propõe a redução da maioridade penal, pelos seguintes argumentos:</p>
					<p><span>O</span> conteúdo da Proposta de Emenda à Constituição nº 171/1993, que pretende a alteração do art. 228 da Constituição da República para a redução da maioridade penal, viola cláusula pétrea que trata dos direitos e das garantias fundamentais, além de afrontar todos os tratados internacionais em matéria de Direitos Humanos das Crianças e Adolescentes ratificados pelo Brasil.</p>
					<p><span>L</span>ei especial, o Estatuto da Criança e do Adolescente prevê medidas de inclusão e também instrumentos de responsabilização de jovens por infrações à lei, sendo necessário esclarecer que o ordenamento jurídico brasileiro prevê a possibilidade de aplicação de sanções a partir dos 12 anos de idade, ou seja, é um dos países mais severos do mundo em termos de punição.</p>
					<p><span>E</span> a realidade nos prova que esse regramento, embora possa ser aprimorado, é mais eficaz que o sistema de punição dos maiores de 18 anos. Os jovens que cometem crimes e contravenções penais (chamados “atos infracionais”) respondem a processos e, se condenados, recebem punições (chamadas de “medidas socioeducativas”), sendo que Brasil, atualmente, possui cerca de 110 mil adolescentes cumprindo essas medidas. A diferença básica está na perspectiva protetiva e educadora da medida socioeducativa, com a qual ainda é possível perseguir a finalidade da reinserção social, resultando num baixo índice de reincidência quando comparada ao modelo de penas aplicadas aos adultos.</p>
					<p><span>R</span>ecomendações de organismos e pactos internacionais, experiências de entidades profissionais e saberes de diversas ciências indicam que os adolescentes até os 18 anos são sujeitos em desenvolvimento e, por isso, recomendam a existência de um sistema de justiça especializado para processar, julgar e responsabilizar jovens autores de delitos. E esse critério etário para a caracterização de desenvolvimento pleno não é exclusivo da seara penal, encontrando correspondência em muitos outros contextos da vida social: somente com 18 anos, um jovem pode se alistar no exército; pode trabalhar em condições perigosas e insalubres; pode comprar bebidas e cigarros; pode ter habilitação para dirigir; pode ser jurado. E, apesar de ter a faculdade de votar, o jovem de 16 anos não pode ser votado.</p>
					<p><span>A</span>s estatísticas são um vigoroso argumento contra a proposta de redução da maioridade penal, já que os jovens com idade entre 16 e 18 anos são responsáveis por menos de 1% do total de crimes cometidos no Brasil, de tal modo que a exceção não pode pautar a definição da política criminal do país. Além disso, os crimes mais cometidos por jovens são crimes contra o patrimônio, seguidos pelo crime de tráfico de drogas – isso representa mais de 70% dos crimes cometidos por eles</p>
					<p><span>N</span>ão podemos esquecer que os jovens negros e pobres são mais vítimas do que autores de crimes, pois cerca de 20 mil jovens são assassinados todo ano no Brasil, ou seja, 10 vezes mais vítimas do que autores de homicídio. A cruel desigualdade social das periferias, dos morros, das vilas, das favelas em todo o país provoca uma verdadeira guerra em que os crimes contra a pessoa cometidos por jovens, em geral, decorrem de disputas do tráfico de drogas, o que estabelece uma coincidência do grupo que comete o crime e o grupo que é vitimizado.</p>
					<p><span>C</span>árcere não é resposta. A partir da análise do nosso sistema penal adulto, a população brasileira já deveria ter ciência de que o recrudescimento punitivo e o encarceramento de centenas de milhares de pessoas não tornam nossa sociedade mais segura. O Brasil tem a terceira maior população carcerária do mundo e é notória a falência dessa política no combate à criminalidade. A redução da maioridade, se aprovada, levará os jovens mais cedo para um sistema prisional podre e superlotado (com atual déficit de 210 mil vagas), decretando o fracasso de nossa sociedade em prover oportunidades de vida digna para nossa juventude.</p>
					<p><span>I</span>mpõe-se, ao fim, um desabafo: a PEC 171 é criminologicamente irresponsável, instrumentaliza uma política do medo, escancara uma gestão pública amadora cujos fins são meramente eleitoreiros e caracteriza um desperdício do orçamento público. A falta de vagas no sistema carcerário faz com que o Estado processe, julgue e condene, mas não faça cumprir a sanção aplicada por absoluta falta de estabelecimentos prisionais.</p>
					<p><span>A</span> presente Carta de Porto Alegre, discutida, aprovada e assinada por todos, representa o esforço da sociedade civil organizada para que não seja aprovada a proposta de redução da maioridade penal, pois todos os subscritores entendem que: desistir dos jovens é desistir do futuro.</p>
					<p>Porto Alegre, maio de 2015.<br>Instituto Tolerância</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="sidebar">
						<span>Faça parte. Faça a sua parte.</span>
						<h4>#SOU<span>CONTRA</span>171</h4>
						<p>Utilize a hashtag #soucontra171 no facebook e twitter.</p>
					</div>
					<div class="sidebar">
						<span>Cobre do seu deputado. Clique nele para enviar um e-mail exclusivo!</span>
						
						<script type="text/javascript">$(function () {
							  $('[data-toggle="tooltip"]').tooltip()
							  $("[data-toggle=tooltip]").hover(function(){
								$('.tooltip').css('margin-top','-28px')});							  	
							})
						</script>

						<ul class="soucontra171-lista-deputados">

							<li><a href="mailto:dep.afonsohamm@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Afonso Hamm"><?php echo $this->Html->image('imagens/deputados/afonsohamm.jpg'); ?></a></li>

							<li><a href="mailto:dep.afonsomotta@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Afonso Motta"><?php echo $this->Html->image('imagens/deputados/afonsomotta.jpg', ['alt' => 'Afonso Motta']); ?></a></li>

							<li><a href="mailto:dep.alceumoreira@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Alceu Moreira"><?php echo $this->Html->image('imagens/deputados/alceumoreira.jpg', ['alt' => 'Alceu Moreira']); ?></a></li>

							<li><a href="mailto:dep.luizcarlosbusato@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Luiz Carlos Busato"><?php echo $this->Html->image('imagens/deputados/busato.jpg', ['alt' => 'Luiz Carlos Busato']); ?></a></li>

							<li class="last"><a href="mailto:dep.carlosgomes@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Carlos Gomes"><?php echo $this->Html->image('imagens/deputados/carlosgomes.jpg', ['alt' => 'Carlos Gomes']); ?></a></li>

							<li><a href="mailto:dep.covattifilho@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Covatti Filho"><?php echo $this->Html->image('imagens/deputados/covattifilho.jpg', ['alt' => 'Covatti Filho']); ?></a></li>

							<li><a href="mailto:dep.danrleidedeushinterholz@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Danrlei Hinterholz"><?php echo $this->Html->image('imagens/deputados/danrlei.jpg', ['alt' => 'Danrlei Hinterholz']); ?></a></li>

							<li><a href="mailto:dep.darcisioperondi@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Darcisio Perondi"><?php echo $this->Html->image('imagens/deputados/darcisioperondi.jpg', ['alt' => 'Darcisio Perondi']); ?></a></li>

							<li><a href="mailto:dep.bohngass@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Bohn Gass"><?php echo $this->Html->image('imagens/deputados/elvinobohngass.jpg', ['alt' => 'Bohn Gass']); ?></a></li>

							<li class="last"><a href="mailto:dep.fernandomarroni@camara.gov.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Fernando Marroni"><?php echo $this->Html->image('imagens/deputados/fernandomarroni.jpg', ['alt' => 'Fernando Marroni']); ?></a></li>

							<li><a href="mailto:dep.giovanicherini@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Giovani Cherini"><?php echo $this->Html->image('imagens/deputados/giovanicherini.jpg', ['alt' => 'Giovani Cherini']); ?></a></li>

							<li><a href="mailto:dep.heitorschuch@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Heitor Schuch"><?php echo $this->Html->image('imagens/deputados/heitorschuch.jpg', ['alt' => 'Heitor Schuch']); ?></a></li>

							<li><a href="mailto:dep.henriquefontana@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Henrique Fontana"><?php echo $this->Html->image('imagens/deputados/henriquefontana.jpg', ['alt' => 'Henrique Fontana']); ?></a></li>

							<li><a href="mailto:dep.jeronimogoergen@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Jeronimo Goergen"><?php echo $this->Html->image('imagens/deputados/jeronimogoergen.jpg', ['alt' => 'Jeronimo Goergen']); ?></a></li>

							<li class="last"><a href="mailto:dep.joaoderly@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="João Derly"><?php echo $this->Html->image('imagens/deputados/joaoderly.jpg', ['alt' => 'João Derly']); ?></a></li>

							<li><a href="mailto:dep.josefogaca@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="José Fogaça"><?php echo $this->Html->image('imagens/deputados/josefogaca.jpg', ['alt' => 'José Fogaça']); ?></a></li>

							<li><a href="mailto:dep.josestedile@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="José Stédile"><?php echo $this->Html->image('imagens/deputados/joseluizstedile.jpg', ['alt' => 'José Stédile']); ?></a></li>

							<li><a href="mailto:dep.joseotaviogermano@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="José Otávio Germano"><?php echo $this->Html->image('imagens/deputados/joseotaviogermano.jpg', ['alt' => 'José Otávio Germano']); ?></a></li>

							<li><a href="mailto:dep.luiscarlosheinze@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Luiz Carlos Heinze"><?php echo $this->Html->image('imagens/deputados/luiscarlosheinze.jpg', ['alt' => 'Luiz Carlos Heinze']); ?></a></li>

							<li class="last"><a href="mailto:dep.marcomaia@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Marco Maia"><?php echo $this->Html->image('imagens/deputados/marcomaia.jpg', ['alt' => 'Marco Maia']); ?></a></li>

							<li><a href="mailto:dep.marcon@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Marcon"><?php echo $this->Html->image('imagens/deputados/marcon.jpg', ['alt' => 'Marcon']); ?></a></li>

							<li><a href="mailto:dep.mariadorosario@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Maria do Rosário"><?php echo $this->Html->image('imagens/deputados/mariadorosario.jpg', ['alt' => 'Maria do Rosário']); ?></a></li>

							<li><a href="mailto:dep.mauropereira@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Mauro Pereira"><?php echo $this->Html->image('imagens/deputados/mauropereira.jpg', ['alt' => 'aaaaaa']); ?></a></li>

							<li><a href="mailto:dep.nelsonmarchezanjunior@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Nelson Marchezan Junior"><?php echo $this->Html->image('imagens/deputados/nelsonmarchezanjunior.jpg', ['alt' => 'Nelson Marchezan Junior']); ?></a></li>

							<li class="last"><a href="mailto:dep.onyxlorenzoni@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Onyx Lorenzoni"><?php echo $this->Html->image('imagens/deputados/onyxlorenzoni.jpg', ['alt' => 'Onyx Lorenzoni']); ?></a></li>

							<li><a href="mailto:dep.osmarterra@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Osmar Terra"><?php echo $this->Html->image('imagens/deputados/osmarterra.jpg', ['alt' => 'Osmar Terra']); ?></a></li>

							<li><a href="mailto:dep.paulopimenta@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Paulo Pimenta"><?php echo $this->Html->image('imagens/deputados/paulopimenta.jpg', ['alt' => 'Paulo Pimenta']); ?></a></li>

							<li><a href="mailto:dep.pompeodemattos@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Pompeo de Mattos"><?php echo $this->Html->image('imagens/deputados/pompeodemattos.jpg', ['alt' => 'Pompeo de Mattos']); ?></a></li>

							<li><a href="mailto:dep.renatomolling@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Renato Molling"><?php echo $this->Html->image('imagens/deputados/renatomolling.jpg', ['alt' => 'Renato Molling']); ?></a></li>

							<li class="last"><a href="mailto:dep.ronaldonogueira@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Ronaldo Nogueira"><?php echo $this->Html->image('imagens/deputados/ronaldonogueira.jpg', ['alt' => 'Ronaldo Nogueira']); ?></a></li>

							<li><a href="mailto:dep.sergiomoraes@camara.leg.br?subject=PEC 171/03 - Movimento Tolerante Contra a Redução da Maioridade Penal&body=Como parte do Movimento Tolerante Contra a Redução da Maioridade Penal venho solicitar, em nome do voto que depositei na urna eletrônica com seu nome, que se posicione contra a PEC 171/03 e a favor do fortalecimento do sistema de responsabilização de adolescentes pelo ECA, que mantém a noção de punição pelo erro, mas com um tratamento mais humano, baseado na obrigatoriedade da educação, do tratamento para dependência de drogas e álcool, na profissionalização e no compromisso de não-reincidência. Remeto este e-mail por acreditar na sua sensibilidade e no seu compromisso com o futuro do Brasil. Lugar de jovem é na escola.%0D%0A%0D%0AMuito obrigado por sua atenção," data-toggle="tooltip" data-placement="top" title="Sérgio Moraes"><?php echo $this->Html->image('imagens/deputados/sergiomoraes.jpg', ['alt' => 'Sérgio Moraes']); ?></a></li>

						</ul>
					</div>
					<div class="sidebar">
						<a href="<?php echo $this->Html->url('/imagens/imagem-capa-sou-contra-171.jpg') ?>" target="_blank">
							<div class="center-block img">
								<?php echo $this->Html->image('imagens/imagem-capa-sou-contra-171.jpg', ['class' => 'img-responsive', 'alt' => 'MOVIMENTO TOLERANTE CONTRA A REDUÇÃO DA MAIORIDADE PENAL']); ?>
							</div>
							<p>Baixe a imagem de capa para usar em seu Facebook.</p>
						</a>
					</div>
					<div class="sidebar">
						<a href="<?php echo $this->Html->url('/imagens/face-sou-contra-171.png') ?>" target="_blank">
							<div class="center-block img">
								<?php echo $this->Html->image('imagens/face-sou-contra-171.png', ['class' => 'img-responsive', 'alt' => '#SOUCONTRA171 - MOVIMENTO TOLERANTE CONTRA A REDUÇÃO DA MAIORIDADE PENAL']); ?>
							</div>
							<p>Baixe o avatar e utilize-o em seu perfil no Facebook!</p>
						</a>
					</div>
					<div class="sidebar" style="display: none;">
						<a href="#" target="_blank">
							<div class="center-block img-2">
								<?php echo $this->Html->image('imagens/avaaz.png', ['class' => 'img-responsive', 'alt' => 'avvgaz.org']); ?>
							</div>
							<p>Assine a carta online e apoie a causa!</p>
						</a>
					</div>
					<div class="sidebar last">
						<a href="<?php echo $this->Html->url('/arquivos/carta-tolerante-contra-reducao-da-maioridade-penal.pdf') ?>" target="_blank">
							<?php echo $this->Html->image('imagens/icon-pdf.png', ['class' => 'center-block img-responsive', 'alt' => 'Download']); ?>
							<p>Baixe a carta em PDF e compartilhe.</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

